@tailwind base;
@tailwind components;
@tailwind utilities;

.podcast {
	@apply border-2 border-pink-500 m-3
}

button, button[type=submit] {
	@apply bg-blue-200 hover:bg-blue-300 p-1 rounded-sm
}

h1 {
	@apply text-4xl my-3
}

h2 {
	@apply text-3xl my-2
}

h3 {
	@apply text-2xl my-2
}

h4 {
	@apply text-xl
}

.user-link {
    @apply text-blue-600 hover:underline
}